mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #212320;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  .logo-text {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

img {
  height: 40px;
}
