<!-- src/app/components/cart-summary/cart-summary.component.html -->
<div class="cart-summary mat-elevation-z6">
  <button
    mat-raised-button
    color="primary"
    (click)="viewCart()"
    matBadge="{{ cartService.getTotalItems() }}"
    matBadgeColor="accent"
    matBadgePosition="before"
    [disabled]="cartService.getTotalItems() === 0">
    <mat-icon>shopping_cart</mat-icon>
    Ver Carrinho ({{ cartService.getTotalItems() }})
  </button>

  <button
    mat-raised-button
    color="accent"
    (click)="checkout()"
    [disabled]="cartService.getTotalItems() === 0">
    <mat-icon>check_circle</mat-icon>
    Finalizar Pedido
  </button>
</div>
