
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Importe apenas o que precisa */
@use '@angular/material' as mat;

/* Inclua apenas o core (obrigatório) */
@include mat.core();

/* Estilos globais básicos */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
